{: NES 1.0 ('{: * cfg_plugin_top_dir :}/forms_captcha.pl','../scripts/form_comment.cgi') :}
{: #
  -----------------------------------------------------------------------------
    
  Nes 1.00 by Skriptke
  Copyright 2009 - 2010 Enrique F. Castañón
  Licensed under the GNU GPL.

  Sample:
  http://nes.sourceforge.net/

  Repository:
  http://github.com/Skriptke/nes
        
  -----------------------------------------------------------------------------
:}

{: ~ ( ! * q_error_forms ) 
    
    {: ~ ( !$firma_ok ) 
    
        {: # parámetros: name,auto_submit,captcha_name,captcha_last,expire,expire_last,location,attempts :}
        {: & form (form1,0,captcha1,last,20m,30s,,20/1)
            {: & check ( 
                        {: # field_name:min,max,type # type: num, email o regex :}
                        'nombre: 4,30', 
                        'comentario: 20,4000',
                        'email:,60,email'  {:# opcional pero si se pone uno tiene que ser válido :}              
                       ) 
            :}

            <form method="POST" name="form1">
                
            {: # incluye el captcha como ultimo paso :}
            {: ~ *nes_forms_plugin_form1_last_step
            
                {: ~ ( * nes_captcha_plugin_captcha1_error_fatal != 3 )
                
                    {: # parámetros: name,type,digits,noise,size,sig,spc,expire,attempts :}
                    {: & captcha (captcha1,ascii,5,,,,,,5/1) 
                    <table width="100%">
                      <tr>
                        <td width="100%" align="center">
                        <p>
                        <b>To continue type in the security code:</b>
                        </p>
                        </td>
                      </tr>
                        <tr>
                        <td width="100%" align="center">
                        {: & captcha_code :} 
                        </td>
                      </tr>
                        <tr>
                        <td width="100%" align="center">
                        <input type="text" name="captcha1"  size="8" />
                        </td>
                      </tr>
                      <tr>
                        <td width="100%" align="center">
                        <input name="enviar" type="submit" value="Send" />
                         {: ~ *nes_captcha_plugin_captcha1_error_fatal
                            <p align="center">
                            <b>* Incorrect security code</b>
                            </p>
                        :}
                        </td>
                      </tr>
                    </table>
                    <br><br>         
                    :}
                :}
                {: ~ ( * nes_captcha_plugin_captcha1_error_fatal == 3 )
                    <center>
                    <br>
                    Too many,<br> please wait a few minutes before trying again
                    <br>
                    <br> The form is no longer valid: <a href="./add_comment.html?item={: $ item :}">Back</a>
                    <br>
                    </center>
                :}
            :}

            {: ~ *nes_forms_plugin_form1_error_field {: # error en cualquier campo de form1 :}
                <p align="center"><big><b>Se han detectado errores:</b></big>
                {: ~ *nes_forms_plugin_form1_error_field_nombre  {: # error en el campo nombre de form1 :}   
                    <br>* ERROR en nombre:    <br> necesario entre 4 y 30 caracteres 
                :}
                {: ~ *nes_forms_plugin_form1_error_field_comentario 
                    <br>* ERROR en comentario:<br> es necesario y debe tener entre 20 y 4000 caracteres 
                :}
                {: ~ *nes_forms_plugin_form1_error_field_email      
                    <br>* ERROR en email:     <br> es opcional pero si se pone uno tiene que ser una dirección válida 
                :}
                </p>
            :}      
            <p align="center">
                <br>
                <b>Name:</b> <input name="{: & obfuscated nombre :}" type="text"  size="12" value="{: * q_nombre :}"/> &nbsp;&nbsp;&nbsp;
                <b>email:</b> <input name="{: & obfuscated email :}" type="text"  size="12" value="{: * q_email :}"/> Optional
                <br>
                <br>
                <b>Comment:</b> <br>
                <textarea name="{: & obfuscated comentario :}" cols="60" rows="9">{:* q_comentario :}</textarea><br />
                <input type="hidden" name="item"  value="{: $ item :}" />
                <input name="enviar" type="submit" value="Send" />
                <br>
            </p>
         </form>
        :}
    :}
    {: ~ ( $firma_ok )
    <p align="center">
        <br>
        <big>Your comment has been published <a href="./?item={: * q_item :}&nocahe={: * q_nombre :}#comments">Back</a></big>
        </p>
        <br>
        <br>
    :}
:}
{: ~ ( * q_error_forms  )
        <p>
        <center>
        <big><b>There was an error</b><br><br> This form requires cookies and javascript enabled.<br>
        <br>
        {: ~ (* q_error_forms == 1) La Cookie ha expirado o no existe :}
        {: ~ (* q_error_forms == 2) Error en expiración de Cookie:}
        {: ~ (* q_error_forms == 3) Error en clave de Cookie :}
        {: ~ (* q_error_forms == 4) El formulario requiere JavaScript :}
        {: ~ (* q_error_forms == 5) Demasiados intentos,<br> por favor espera unos minutos antes de volver a intentarlo :}
        {: ~ (* q_error_forms == 6) Error clave de formulario  :}
        {: ~ (* q_error_forms == 7) Error clave de formulario :}
        <br>
        <br> <a href="./add_comment.html?item={: $ item :}">Volver</a></big>

        </center>
        <br>
        </p>
:}


