{: NES 1.0 none :}
{: #
  -----------------------------------------------------------------------------
  
  Nes 1.00 by Skriptke
  Copyright 2009 - 2010 Enrique F. Castañón Barbero
  Licensed under the GNU GPL.

  CPAN:
  http://search.cpan.org/dist/Nes/

  Sample:
  http://nes.sourceforge.net/

  Repository:
  http://github.com/Skriptke/nes

  -----------------------------------------------------------------------------
:}
        <h1><span class="hr">use</span> Nes; &nbsp;</h1>

        <ul id="top">
            <li><a href="http://nes.sourceforge.net/miniblog/en/">Home</a></li>
            <li><a href="http://search.cpan.org/dist/Nes/">Download</a></li>
            <li><a href="./?item=index">Articles</a></li>
            <li><a href="./source.html?show_source={: * env_PATH_INFO :}">Show source</a></li>
            <li><a href="http://github.com/Skriptke/nes">git</a></li>
            <li><a href="http://search.cpan.org/dist/Nes/lib/Nes.pod">CPAN</a></li>
        </ul>
        <br>
        <ul id="lang">
            <li><a href="../en/">English</a></li>
            <li><a href="../es/">Español</a></li>
            <li><a href="../es/?item=Colabora">...</a></li>
        </ul>
