{: NES 1.0 ('../scripts/latest.cgi') :}
{: #
  -----------------------------------------------------------------------------
    
  Nes 1.00 by Skriptke
  Copyright 2009 - 2010 Enrique F. Castañón
  Licensed under the GNU GPL.

  Sample:
  http://nes.sourceforge.net/

  Repository:
  http://github.com/Skriptke/nes
        
  -----------------------------------------------------------------------------
:}
            <h3>Latest Articles</h3>
            <ul>
            {: @ (articles) 
                <li><a href="./?item={: @$ articles.name :}">{: @$ articles.name :}</a></li>
            :}
            </ul> 
            <br>