<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" trspan="samlAttribute"></h3>
  </div>
  <table class="table">
    <!-- Key Name -->
    <tr>
      <th><span trspan="keyname"></span></th>
      <td><input id="sakinput" class="form-control" ng-model="currentNode.title"/></td>
    </tr>
    <!-- Name -->
    <tr>
      <th><span trspan="name"></span></th>
      <td><input id="saninput" class="form-control" ng-model="currentNode.data[1]"/></td>
    </tr>
    <!-- Friendly Name -->
    <tr>
      <th><span trspan="friendlyName"></span></th>
      <td><input id="safinput" class="form-control" ng-model="currentNode.data[3]"/></td>
    </tr>
    <!-- Mandatory -->
    <tr>
      <th><span trspan="mandatory"></span></th>
      <td>
      <div class="input-group-solid">
        <label class="radio-inline">
          <input id="samOn" type="radio" value="1" name="sam" ng-model="currentNode.data[0]"/>
          <span trspan="on"></span>
        </label>
        <label class="radio-inline">
          <input id="samOff" type="radio" value="0" name="sam" ng-model="currentNode.data[0]" ng-checked="currentNode.data[0]!==1&&currentNode.data[0]!=='1'"/>
          <span trspan="off"></span>
        </label>
      </div>
      </td>
    </tr>
    <!-- Format -->
    <tr>
      <th><span trspan="format"></span></th>
      <td>
      <select class="form-control" id="safselect" aria-describedby="saflbl" ng-model="currentNode.data[2]">
        <option value="" ng-selected="currentNode.data[2]==null||currentNode.data[2]==''"></option>
        <option value="urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified">Unspecified</option>
        <option value="urn:oasis:names:tc:SAML:2.0:attrname-format:uri">URI</option>
        <option value="urn:oasis:names:tc:SAML:2.0:attrname-format:basic">Basic</option>
       </select>
       </td>
     </tr>
  </table>
</div>
<script type="text/menu">
[{
  'title': 'deleteEntry',
  'icon': 'minus-sign'
},{
  'title': 'addSamlAttribute',
  'icon': 'plus-sign'
}]
</script>
