<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{translateTitle(currentNode)}}</h3>
  </div>
  <table class="table table striped">
    <tr>
      <th><span trspan="value"></span></th>
      <td><input id="textinput" class="form-control" ng-model="currentNode.data"/></td>
    </tr>
  </table>
</div>
<script type="text/menu">
[{
  "title": "cancel",
  "icon": "remove"
}]
</script>
