#
# Not working
#
		Afghanistan: Mail service is currently limited to airmail letter-post items, including post cards, postal cards, and aerogrammes. All other services, including special services, are suspended.
		Antarctica
		Iraq
		St. Christopher and Nevis
		St. Helena
		St. Lucia
		St. Pierre and Miquelon
		St. Vincent and the Grenadines
		
		
#
# Unknown
#		
	Bouvet Island 
	British Indian Ocean Territory
	Christmas Island: ?  
		<option value='Australia'>Christmas Island (Australia)</option>
		<option value='Kiribati'>Christmas Island (Kiribati)</option>
	Congo:
	Congo, The Democratic Republic O:
		<option value='Congo (Brazzaville),Republic of the'>Congo (Brazzaville),Republic of the</option>
		<option value='Congo, Democratic Republic of the'>Congo, Democratic Republic of the</option>
		<option value='Congo, Democratic Republic of the'>Democratic Republic of the Congo</option>
		<option value='Congo (Brazzaville),Republic of the'>Republic of the Congo</option>
		<option value='Congo, Democratic Republic of the'>Zaire (Congo Dem Rep)</option>
	French Southern Territories
	Heard And Mc Donald Islands
	Palestinian Territory, Occupied
	Svalbard And Jan Mayen Islands
	United States Minor Outlying Isl
	Western Sahara

	
#
# Country list from USPS.gov
#
<option value='United Arab Emirates'>Abu Dhabi</option>
<option value='United Arab Emirates'>Abu Dhabi (United Arab Emirates)</option>
<option value='Papua New Guinea'>Admiralty Islands</option>
<option value='Papua New Guinea'>Admiralty Islands (Papua New Guinea)</option>
<option value='Djibouti'>Afars</option>
<option value='Afghanistan'>Afghanistan</option>
<option value='New Zealand'>Aitutaki</option>
<option value='New Zealand'>Aitutaki (Cook Islands) (New Zealand)</option>
<option value='United Arab Emirates'>Ajman</option>
<option value='United Arab Emirates'>Ajman (United Arab Emirates)</option>
<option value='Finland'>Aland Island</option>
<option value='Finland'>Aland Island (Finland)</option>
<option value='Albania'>Albania</option>
<option value='Canada'>Alberta (Canada)</option>
<option value='Great Britain and Northern Ireland'>Alderney</option>
<option value='Great Britain and Northern Ireland'>Alderney, Channel Islands (Great Britain)</option>
<option value='Algeria'>Algeria</option>
<option value='Spain'>Alhucemas</option>
<option value='Spain'>Alhucemas (Spain)</option>
<option value='New Caledonia'>Alofi Island</option>
<option value='New Caledonia'>Alofi Island (New Caledonia)</option>
<option value='US Possession'>American Samoa</option>
<option value='India'>Andaman Islands</option>
<option value='India'>Andaman Islands (India)</option>
<option value='Andorra'>Andorra</option>
<option value='Angola'>Angola</option>
<option value='Anguilla'>Anguilla</option>
<option value='Comoros'>Anjouan</option>
<option value='Comoros'>Anjouan (Comoros)</option>
<option value='Equatorial Guinea'>Annobon Island</option>
<option value='Equatorial Guinea'>Annobon Island (Equatorial Guinea)</option>
<option value='Antigua and Barbuda'>Antigua</option>
<option value='Antigua and Barbuda'>Antigua and Barbuda</option>
<option value='Argentina'>Argentina</option>
<option value='Armenia'>Armenia</option>
<option value='Aruba'>Aruba</option>
<option value='Ascension'>Ascension</option>
<option value='Greece'>Astypalaia</option>
<option value='Greece'>Astypalaia (Greece)</option>
<option value='Western Samoa'>Atafu</option>
<option value='Western Samoa'>Atafu (Western Samoa)</option>
<option value='New Zealand'>Atiu</option>
<option value='New Zealand'>Atiu (Cook Islands)</option>
<option value='Australia'>Australia</option>
<option value='Austria'>Austria</option>
<option value='New Zealand'>Avarua</option>
<option value='New Zealand'>Avarua (New Zealand)</option>
<option value='Azerbaijan'>Azerbaijan</option>
<option value='Portugal'>Azores</option>
<option value='Portugal'>Azores (Portugal)</option>
<option value='Bahamas'>Bahamas</option>
<option value='Bahrain'>Bahrain</option>
<option value='US Possession'>Baker Island (US Possession)</option>
<option value='Spain'>Balearic Islands</option>
<option value='Spain'>Balearic Islands (Spain)</option>
<option value='Pakistan'>Baluchistan</option>
<option value='Pakistan'>Baluchistan (Pakistan)</option>
<option value='Bangladesh'>Bangladesh</option>
<option value='Vanuatu'>Bank Island</option>
<option value='Vanuatu'>Banks Island (Vanuatu)</option>
<option value='Barbados'>Barbados</option>
<option value='Antigua and Barbuda'>Barbuda</option>
<option value='Antigua and Barbuda'>Barbuda (Antigua and Barbuda)</option>
<option value='Guadeloupe'>Barthelemy</option>
<option value='Guadeloupe'>Barthelemy (Guadeloupe)</option>
<option value='Belarus'>Belarus</option>
<option value='Belgium'>Belgium</option>
<option value='Belize'>Belize</option>
<option value='Benin'>Benin</option>
<option value='Bermuda'>Bermuda</option>
<option value='Bhutan'>Bhutan</option>
<option value='Papua New Guinea'>Bismark Archipelago</option>
<option value='Papua New Guinea'>Bismark Archipelago (Papua New Guinea)</option>
<option value='Bolivia'>Bolivia</option>
<option value='Netherlands Antilles'>Bonaire</option>
<option value='Netherlands Antilles'>Bonaire (Netherlands Antilles)</option>
<option value='French Polynesia'>Borabora</option>
<option value='French Polynesia'>Borabora (French Polynesia)</option>
<option value='Indonesia'>Borneo (Indonesia)</option>
<option value='Indonesia'>Borneo (Kalimantan) (Indonesia)</option>
<option value='Malaysia'>Borneo (North) (Malaysia)</option>
<option value='Bosnia-Herzegovina'>Bosnia-Herzegovina</option>
<option value='Botswana'>Botswana</option>
<option value='Papua New Guinea'>Bougainville</option>
<option value='Papua New Guinea'>Bougainville (Papua New Guinea)</option>
<option value='Reunion'>Bourbon</option>
<option value='Reunion'>Bourbon (Reunion)</option>
<option value='Brazil'>Brazil</option>
<option value='Canada'>British Columbia (Canada)</option>
<option value='Guyana'>British Guiana</option>
<option value='Guyana'>British Guiana (Guyana)</option>
<option value='Belize'>British Honduras</option>
<option value='Belize'>British Honduras (Belize)</option>
<option value='British Virgin Islands'>British Virgin Islands</option>
<option value='Brunei Darussalam'>Brunei Darussalam</option>
<option value='Papua New Guinea'>Buka</option>
<option value='Papua New Guinea'>Buka (Papua New Guinea)</option>
<option value='Bulgaria'>Bulgaria</option>
<option value='Burkina Faso'>Burkina Faso</option>
<option value='Burma'>Burma</option>
<option value='Burundi'>Burundi</option>
<option value='Turks and Caicos Islands'>Caicos Islands</option>
<option value='Turks and Caicos Islands'>Caicos Islands (Turks and Caicos Islands)</option>
<option value='Cambodia'>Cambodia</option>
<option value='Cameroon'>Cameroon</option>
<option value='Canada'>Canada</option>
<option value='Spain'>Canary Islands</option>
<option value='Spain'>Canary Islands (Spain)</option>
<option value='Kiribati'>Canton Island</option>
<option value='Kiribati'>Canton Island (Kiribati)</option>
<option value='Cape Verde'>Cape Verde</option>
<option value='Cayman Islands'>Cayman Islands</option>
<option value='Central African Republic'>Central African Republic</option>
<option value='Spain'>Ceuta</option>
<option value='Spain'>Ceuta (Spain)</option>
<option value='Sri Lanka'>Ceylon</option>
<option value='Sri Lanka'>Ceylon (Sri Lanka)</option>
<option value='Chad'>Chad</option>
<option value='Spain'>Chaferinas Islands</option>
<option value='Spain'>Chaferinas Islands (Spain)</option>
<option value='Greece'>Chalki</option>
<option value='Greece'>Chalki (Greece)</option>
<option value='Great Britain and Northern Ireland'>Channel Islands</option>
<option value='Great Britain and Northern Ireland'>Channel Islands (Jersey, Guernsey, Alderney and Sark) (Great Britain)</option>
<option value='Chile'>Chile</option>
<option value='China'>China</option>
<option value='US Possession'>Christiansted, US Virgin Islands</option>
<option value='Australia'>Christmas Island (Australia)</option>
<option value='Kiribati'>Christmas Island (Kiribati)</option>
<option value='US Possession'>Chuuk (Truk), Micronesia</option>
<option value='Australia'>Cocos Island </option>
<option value='Australia'>Cocos Island (Australia)</option>
<option value='Colombia'>Colombia</option>
<option value='US Possession'>Commonwealth of the Northern Mariana Islands</option>
<option value='Comoros'>Comoros</option>
<option value='Congo (Brazzaville),Republic of the'>Congo (Brazzaville),Republic of the</option>
<option value='Congo, Democratic Republic of the'>Congo, Democratic Republic of the</option>
<option value='New Zealand'>Cook Islands</option>
<option value='New Zealand'>Cook Islands (New Zealand)</option>
<option value='Equatorial Guinea'>Corisco Island </option>
<option value='Equatorial Guinea'>Corisco Island (Equatorial Guinea)</option>
<option value='France'>Corsica</option>
<option value='France'>Corsica (France)</option>
<option value='Costa Rica'>Costa Rica</option>
<option value='Cote d lvoire (Ivory Coast)'>Cote d lvoire</option>
<option value='Cote d lvoire (Ivory Coast)'>Cote d lvoire (Ivory Coast)</option>
<option value='Greece'>Crete</option>
<option value='Greece'>Crete (Greece)</option>
<option value='Croatia'>Croatia</option>
<option value='Cuba'>Cuba</option>
<option value='Malta'>Cumino Island</option>
<option value='Malta'>Cumino Island (Malta)</option>
<option value='Netherlands Antilles'>Curacao</option>
<option value='Netherlands Antilles'>Curacao (Netherlands Antilles)</option>
<option value='Libya'>Cyjrenaica</option>
<option value='Libya'>Cyjrenaica (Libya)</option>
<option value='Cyprus'>Cyprus</option>
<option value='Czech Republic'>Czech Republic</option>
<option value='Benin'>Dahomey</option>
<option value='Benin'>Dahomey (Benin)</option>
<option value='India'>Damao</option>
<option value='India'>Damao (India)</option>
<option value='New Zealand'>Danger Islands</option>
<option value='New Zealand'>Danger Islands (New Zealand)</option>
<option value='Korea, Democratic Peoples Republic of (North Korea'>Democratic People's Republic of Korea</option>
<option value='Congo, Democratic Republic of the'>Democratic Republic of the Congo</option>
<option value='Denmark'>Denmark</option>
<option value='Guadeloupe'>Desirade Island</option>
<option value='Guadeloupe'>Desirade Island (Guadeloupe)</option>
<option value='India'>Diu</option>
<option value='India'>Diu (India)</option>
<option value='Djibouti'>Djibouti</option>
<option value='Greece'>Dodecanese Islands</option>
<option value='Greece'>Dodecanese Islands (Greece)</option>
<option value='Qatar'>Doha</option>
<option value='Qatar'>Doha (Qatar)</option>
<option value='Dominica'>Dominica</option>
<option value='Dominican Republic'>Dominican Republic</option>
<option value='United Arab Emirates'>Dubai</option>
<option value='United Arab Emirates'>Dubai (United Arab Emirates)</option>
<option value='Indonesia'>East Timor</option>
<option value='Indonesia'>East Timor (Indonesia)</option>
<option value='US Possession'>Eastern Island, Midway Islands (US Possession)</option>
<option value='US Possession'>Ebeye, Marshall Islands</option>
<option value='Ecuador'>Ecuador</option>
<option value='Egypt'>Egypt</option>
<option value='Ireland'>Eire</option>
<option value='Ireland'>Eire (Ireland)</option>
<option value='El Salvador'>El Salvador</option>
<option value='Tuvalu'>Ellice Islands</option>
<option value='Tuvalu'>Ellice Islands (Tuvalu)</option>
<option value='Equatorial Guinea'>Elobey Islands</option>
<option value='Equatorial Guinea'>Elobey Islands (Equatorial Guinea)</option>
<option value='Kiribati'>Enderbury Island</option>
<option value='Kiribati'>Enderbury Island (Kiribati)</option>
<option value='Great Britain and Northern Ireland'>England</option>
<option value='Great Britain and Northern Ireland'>England (Great Britain and Northern Ireland)</option>
<option value='Equatorial Guinea'>Equatorial Guinea</option>
<option value='Eritrea'>Eritrea</option>
<option value='Estonia'>Estonia</option>
<option value='Ethiopia'>Ethiopia</option>
<option value='Western Samoa'>Fakaofo</option>
<option value='Western Samoa'>Fakaofo (Western Samoa)</option>
<option value='Falkland Islands'>Falkland Islands</option>
<option value='Kiribati'>Fanning Island</option>
<option value='Kiribati'>Fanning Island (Kiribati)</option>
<option value='Faroe Islands'>Faroe Islands</option>
<option value='US Possession'>Federated States of Micronesia</option>
<option value='Equatorial Guinea'>Fernando Po</option>
<option value='Equatorial Guinea'>Fernando Po (Equatorial Guinea)</option>
<option value='Libya'>Fezzan</option>
<option value='Libya'>Fezzan (Libya)</option>
<option value='Fiji'>Fiji</option>
<option value='Finland'>Finland</option>
<option value='Taiwan'>Formosa</option>
<option value='Taiwan'>Formosa (Taiwan)</option>
<option value='France'>France</option>
<option value='France'>France, Metropolitan (France)</option>
<option value='US Possession'>Frederiksted, US Virgin Islands</option>
<option value='French Guiana'>French Guiana</option>
<option value='French Polynesia'>French Oceania</option>
<option value='French Polynesia'>French Oceania (French Polynesia)</option>
<option value='French Polynesia'>French Polynesia</option>
<option value='Djibouti'>French Somaliland</option>
<option value='Djibouti'>French Somaliland (Djibouti)</option>
<option value='Djibouti'>French Territory of the Afars and Issas (Djibouti)</option>
<option value='Guadeloupe'>French West Indies</option>
<option value='Guadeloupe'>French West Indies (Guadeloupe or Martinique)</option>
<option value='Martinique'>French West Indies (Martinique)</option>
<option value='Tonga'>Friendly Islands</option>
<option value='Tonga'>Friendly Islands (Tonga)</option>
<option value='United Arab Emirates'>Fujairah</option>
<option value='United Arab Emirates'>Fujairah (United Arab Emirates)</option>
<option value='Wallis and Futuna Islands'>Futuna</option>
<option value='Wallis and Futuna Islands'>Futuna (Wallis and Futuna Islands)</option>
<option value='Gabon'>Gabon</option>
<option value='Gambia'>Gambia</option>
<option value='French Polynesia'>Gambier</option>
<option value='French Polynesia'>Gambier (French Polynesia)</option>
<option value='Georgia, Republic of'>Georgia, Republic of</option>
<option value='Germany'>Germany</option>
<option value='Ghana'>Ghana</option>
<option value='Gibraltar'>Gibraltar</option>
<option value='Kiribati'>Gilbert Islands</option>
<option value='Kiribati'>Gilbert Islands (Kiribati)</option>
<option value='India'>Goa</option>
<option value='India'>Goa (India)</option>
<option value='Malta'>Gozo Island</option>
<option value='Malta'>Gozo Island (Malta)</option>
<option value='Comoros'>Grand Comoro</option>
<option value='Comoros'>Grand Comoro (Comoros)</option>
<option value='Great Britain and Northern Ireland'>Great Britain</option>
<option value='Great Britain and Northern Ireland'>Great Britain and Northern Ireland</option>
<option value='Greece'>Greece</option>
<option value='Greenland'>Greenland</option>
<option value='Grenada'>Grenada</option>
<option value='St. Vincent and the Grenadines'>Grenadines</option>
<option value='St. Vincent and the Grenadines'>Grenadines (St. Vincent and the Grenadines)</option>
<option value='Guadeloupe'>Guadeloupe</option>
<option value='US Possession'>Guam</option>
<option value='Guatemala'>Guatemala</option>
<option value='Great Britain and Northern Ireland'>Guernsey</option>
<option value='Great Britain and Northern Ireland'>Guernsey, Channel Islands (Great Britain)</option>
<option value='Guinea'>Guinea</option>
<option value='Guinea-Bissau'>Guinea-Bissau</option>
<option value='Guyana'>Guyana</option>
<option value='China'>Hainan Island</option>
<option value='China'>Hainan Island (China)</option>
<option value='Haiti'>Haiti</option>
<option value='Jordan'>Hashemite Kingdom</option>
<option value='Jordan'>Hashemite Kingdom (Jordan)</option>
<option value='New Zealand'>Hervey</option>
<option value='New Zealand'>Hervey (Cook Islands) (New Zealand)</option>
<option value='French Polynesia'>Hivaoa</option>
<option value='French Polynesia'>Hivaoa (French Polynesia)</option>
<option value='Netherlands'>Holland</option>
<option value='Netherlands'>Holland (Netherlands)</option>
<option value='Honduras'>Honduras</option>
<option value='Hong Kong'>Hong Kong</option>
<option value='US Possession'>Howard Island (US Possession)</option>
<option value='French Polynesia'>Huahine</option>
<option value='French Polynesia'>Huahine (French Polynesia)</option>
<option value='New Caledonia'>Huan Island</option>
<option value='New Caledonia'>Huan Island (New Caledonia)</option>
<option value='Hungary'>Hungary</option>
<option value='Iceland'>Iceland</option>
<option value='India'>India</option>
<option value='Indonesia'>Indonesia</option>
<option value='Iran'>Iran</option>
<option value='Iraq'>Iraq</option>
<option value='Ireland'>Ireland</option>
<option value='Indonesia'>Irian Barat</option>
<option value='Indonesia'>Irian Barat (Indonesia)</option>
<option value='Great Britain and Northern Ireland'>Isle of Man</option>
<option value='Great Britain and Northern Ireland'>Isle of Man (Great Britain)</option>
<option value='New Caledonia'>Isle of Pines</option>
<option value='Cuba'>Isle of Pines</option>
<option value='New Caledonia'>Isle of Pines (New Caledonia)</option>
<option value='Cuba'>Isle of Pines, West Indies (Cuba)</option>
<option value='Israel'>Israel</option>
<option value='Djibouti'>Issas</option>
<option value='Italy'>Italy</option>
<option value='Jamaica'>Jamaica</option>
<option value='Japan'>Japan</option>
<option value='US Possession'>Jarvis Island (US Possession)</option>
<option value='Great Britain and Northern Ireland'>Jersey</option>
<option value='Great Britain and Northern Ireland'>Jersey (Channel Islands) (Great Britain)</option>
<option value='US Possession'>Johnston Island (US Possession)</option>
<option value='Malaysia'>Johore</option>
<option value='Malaysia'>Johore (Malaysia)</option>
<option value='Jordan'>Jordan</option>
<option value='Indonesia'>Kalimantan</option>
<option value='Greece'>Kalymnos</option>
<option value='Greece'>Kalymnos (Greece)</option>
<option value='Cambodia'>Kampuchea</option>
<option value='Cambodia'>Kampuchea (Cambodia)</option>
<option value='Greece'>Karpathos</option>
<option value='Greece'>Karpathos (Greece)</option>
<option value='Greece'>Kassos</option>
<option value='Greece'>Kassos (Greece)</option>
<option value='Greece'>Kastellorizon</option>
<option value='Greece'>Kastellorizon (Greece)</option>
<option value='Kazakhstan'>Kazakhstan</option>
<option value='Malaysia'>Kedah</option>
<option value='Malaysia'>Kedah (Malaysia)</option>
<option value='Australia'>Keeling Islands</option>
<option value='Australia'>Keeling Islands (Australia)</option>
<option value='Malaysia'>Kelantan</option>
<option value='Malaysia'>Kelantan (Malaysia)</option>
<option value='Kenya'>Kenya</option>
<option value='US Possession'>Kingman Reef (US Possession)</option>
<option value='US Possession'>Kingshill, US Virgin Islands</option>
<option value='Kiribati'>Kiribati</option>
<option value='Korea, Democratic Peoples Republic of (North Korea)'>Korea, Democratic Peoples Republic of (North Korea)</option>
<option value='Korea, Republic of (South Korea)'>Korea, Republic of (South Korea)</option>
<option value='US Possession'>Koror</option>
<option value='Greece'>Kos</option>
<option value='Greece'>Kos (Greece)</option>
<option value='US Possession'>Kosrae, Micronesia</option>
<option value='Hong Kong'>Kowloon</option>
<option value='Hong Kong'>Kowloon (Hong Kong)</option>
<option value='Kuwait'>Kuwait</option>
<option value='US Possession'>Kwajalein, Marshall Islands</option>
<option value='Kyrgyzstan'>Kyrgyzstan</option>
<option value='Canada'>Labrador </option>
<option value='Canada'>Labrador (Canada)</option>
<option value='Malaysia'>Labuan </option>
<option value='Malaysia'>Labuan (Malaysia)</option>
<option value='Laos'>Laos</option>
<option value='Latvia'>Latvia</option>
<option value='Lebanon'>Lebanon</option>
<option value='Greece'>Leipsos</option>
<option value='Greece'>Leipsos (Greece)</option>
<option value='Greece'>Leros</option>
<option value='Greece'>Leros (Greece)</option>
<option value='Guadeloupe'>Les Saints Island</option>
<option value='Guadeloupe'>Les Saints Island (Guadeloupe)</option>
<option value='Lesotho'>Lesotho</option>
<option value='Liberia'>Liberia</option>
<option value='Libya'>Libya</option>
<option value='Liechtenstein'>Liechtenstein</option>
<option value='Lithuania'>Lithuania</option>
<option value='Australia'>Lord Howe Island </option>
<option value='Australia'>Lord Howe Island (Australia)</option>
<option value='New Caledonia'>Loyalty Islands </option>
<option value='New Caledonia'>Loyalty Islands (New Caledonia)</option>
<option value='Luxembourg'>Luxembourg</option>
<option value='Macao'>Macao</option>
<option value='Macao'>Macau</option>
<option value='Macao'>Macau (Macao)</option>
<option value='Macedonia, Republic of'>Macedonia, Republic of</option>
<option value='Madagascar'>Madagascar</option>
<option value='Portugal'>Madeira Islands</option>
<option value='Portugal'>Madeira Islands (Portugal)</option>
<option value='Portugal'>Maderia Islands</option>
<option value='US Possession'>Majuro, Marshall Islands</option>
<option value='Malaysia'>Malacca</option>
<option value='Malaysia'>Malacca (Malaysia)</option>
<option value='Madagascar'>Malagasy Republic</option>
<option value='Madagascar'>Malagasy Republic (Madagascar)</option>
<option value='Malawi'>Malawi</option>
<option value='Malaysia'>Malaya </option>
<option value='Malaysia'>Malaya (Malaysia)</option>
<option value='Malaysia'>Malaysia</option>
<option value='Maldives'>Maldives</option>
<option value='Mali'>Mali</option>
<option value='Malta'>Malta</option>
<option value='New Zealand'>Manahiki</option>
<option value='New Zealand'>Manahiki (New Zealand)</option>
<option value='China'>Manchuria</option>
<option value='China'>Manchuria (China)</option>
<option value='New Zealand'>Mangaia</option>
<option value='New Zealand'>Mangaia (Cook Islands) (New Zealand)</option>
<option value='Canada'>Manitoba (Canada)</option>
<option value='US Possession'>Manua Islands, American Samoa (US Possession)</option>
<option value='New Zealand'>Manuai</option>
<option value='New Zealand'>Manuai (Cook Islands) (New Zealand)</option>
<option value='Guadeloupe'>Marie Galante</option>
<option value='Guadeloupe'>Marie Galante (Guadeloupe)</option>
<option value='French Polynesia'>Marquesas Islands</option>
<option value='French Polynesia'>Marquesas Islands (French Polynesia)</option>
<option value='US Possession'>Marshall Islands</option>
<option value='Martinique'>Martinique</option>
<option value='New Zealand'>Mauke</option>
<option value='New Zealand'>Mauke (Cook Islands) (New Zealand)</option>
<option value='Mauritania'>Mauritania</option>
<option value='Mauritius'>Mauritius</option>
<option value='France'>Mayotte</option>
<option value='France'>Mayotte (France)</option>
<option value='Spain'>Melilla</option>
<option value='Spain'>Melilla (Spain)</option>
<option value='Mexico'>Mexico</option>
<option value='US Possession'>Micronesia, Federated States of</option>
<option value='US Possession'>Midway Island</option>
<option value='US Possession'>Midway Islands (US Possession)</option>
<option value='St. Pierre and Miquelon'>Miquelon</option>
<option value='St. Pierre and Miquelon'>Miquelon (St. Pierre and Miquelon)</option>
<option value='New Zealand'>Mitiaro</option>
<option value='New Zealand'>Mitiaro (Cook Islands) (New Zealand)</option>
<option value='Comoros'>Moheli</option>
<option value='Comoros'>Moheli (Comoros)</option>
<option value='Moldova'>Moldova</option>
<option value='France'>Monaco</option>
<option value='France'>Monaco (France)</option>
<option value='Mongolia'>Mongolia</option>
<option value='Montserrat'>Montserrat</option>
<option value='French Polynesia'>Moorea</option>
<option value='French Polynesia'>Moorea (French Polynesia)</option>
<option value='Morocco'>Morocco</option>
<option value='Mozambique'>Mozambique</option>
<option value='Oman'>Muscat</option>
<option value='Oman'>Muscat (Oman)</option>
<option value='Burma'>Myanmar</option>
<option value='Burma'>Myanmar (Burma)</option>
<option value='Namibia'>Namibia</option>
<option value='Japan'>Nansil Islands</option>
<option value='Japan'>Nansil Islands (Ryukyu Islands) (Japan)</option>
<option value='Nauru'>Nauru</option>
<option value='US Possession'>Navassa Island (US Possession)</option>
<option value='Malaysia'>Negri Sembilan</option>
<option value='Malaysia'>Negri Sembilan (Malaysia)</option>
<option value='Nepal'>Nepal</option>
<option value='Netherlands'>Netherlands</option>
<option value='Netherlands Antilles'>Netherlands Antilles</option>
<option value='Aruba'>Netherlands Antilles (Aruba)</option>
<option value='Netherlands Antilles'>Netherlands Antilles (Bonaire)</option>
<option value='Netherlands Antilles'>Netherlands Antilles (Curacao)</option>
<option value='Netherlands Antilles'>Netherlands Antilles (St. Maarten)</option>
<option value='Netherlands Antilles'>Netherlands West Indies</option>
<option value='Netherlands Antilles'>Netherlands West Indies (Netherlands Antilles)</option>
<option value='St. Christopher and Nevis'>Nevis</option>
<option value='St. Christopher and Nevis'>Nevis (St. Christopher and Nevis)</option>
<option value='Papua New Guinea'>New Britain</option>
<option value='Papua New Guinea'>New Britain (Papua New Guinea)</option>
<option value='Canada'>New Brunswick (Canada)</option>
<option value='New Caledonia'>New Caledonia</option>
<option value='Papua New Guinea'>New Hanover</option>
<option value='Papua New Guinea'>New Hanover (Papua New Guinea)</option>
<option value='Vanuatu'>New Hebrides</option>
<option value='Vanuatu'>New Hebrides (Vanuatu)</option>
<option value='Papua New Guinea'>New Ireland</option>
<option value='Papua New Guinea'>New Ireland (Papua New Guinea)</option>
<option value='Australia'>New South Wales</option>
<option value='Australia'>New South Wales (Australia)</option>
<option value='New Zealand'>New Zealand</option>
<option value='Canada'>Newfoundland</option>
<option value='Canada'>Newfoundland (Canada)</option>
<option value='Nicaragua'>Nicaragua</option>
<option value='Niger'>Niger</option>
<option value='Nigeria'>Nigeria</option>
<option value='Greece'>Nissiros</option>
<option value='Greece'>Nissiros (Greece)</option>
<option value='New Zealand'>Niue</option>
<option value='New Zealand'>Niue (New Zealand)</option>
<option value='Australia'>Norfolk Island</option>
<option value='Australia'>Norfolk Island (Australia)</option>
<option value='Malaysia'>North Borneo</option>
<option value='Malaysia'>North Borneo (Malaysia)</option>
<option value='Korea, Democratic Peoples Republic of (North Korea)'>North Korea</option>
<option value='Korea, Democratic Peoples Republic of (North Korea)'>North Korea (Korea, Democratic People's Republic of)</option>
<option value='Great Britain and Northern Ireland'>Northern Ireland</option>
<option value='Great Britain and Northern Ireland'>Northern Ireland (Great Britain and Northern Ireland)</option>
<option value='US Possession'>Northern Mariana Islands, Commonwealth of</option>
<option value='Canada'>Northwest Territory (Canada)</option>
<option value='Norway'>Norway</option>
<option value='Canada'>Nova Scotia (Canada)</option>
<option value='French Polynesia'>Nukahiva</option>
<option value='French Polynesia'>Nukahiva (French Polynesia)</option>
<option value='Western Samoa'>Nukunonu</option>
<option value='Western Samoa'>Nukunonu (Western Samoa)</option>
<option value='Malawi'>Nyasaland</option>
<option value='Malawi'>Nyasaland (Malawi)</option>
<option value='Kiribati'>Ocean Island</option>
<option value='Kiribati'>Ocean Island (Kiribati)</option>
<option value='Japan'>Okinawa</option>
<option value='Japan'>Okinawa (Japan)</option>
<option value='Japan'>Okinawa (Ryukyu Islands) (Japan)</option>
<option value='Oman'>Oman</option>
<option value='Canada'>Ontario (Canada)</option>
<option value='US Possession'>Pago Pago, American Samoa (US Possession)</option>
<option value='Malaysia'>Pahang</option>
<option value='Malaysia'>Pahang (Malaysia)</option>
<option value='Pakistan'>Pakistan</option>
<option value='US Possession'>Palau</option>
<option value='New Zealand'>Palmerston</option>
<option value='New Zealand'>Palmerston (Avarua) (New Zealand)</option>
<option value='US Possession'>Palmyra Island (US Possession)</option>
<option value='Panama'>Panama</option>
<option value='Papua New Guinea'>Papua New Guinea</option>
<option value='Paraguay'>Paraguay</option>
<option value='New Zealand'>Parry</option>
<option value='New Zealand'>Parry (Cook Islands) (New Zealand)</option>
<option value='Greece'>Patmos</option>
<option value='Greece'>Patmos (Greece)</option>
<option value='Tanzania'>Pemba</option>
<option value='Tanzania'>Pemba (Tanzania)</option>
<option value='Malaysia'>Penang</option>
<option value='Malaysia'>Penang (Malaysia)</option>
<option value='Taiwan'>Penghu Islands</option>
<option value='Taiwan'>Penghu Islands (Taiwan)</option>
<option value='Spain'>Penon de Velez de la Gomera</option>
<option value='Spain'>Penon de Velez de la Gomera (Spain)</option>
<option value='New Zealand'>Penrhyn</option>
<option value='New Zealand'>Penrhyn (Tongareva) (New Zealand)</option>
<option value='Malaysia'>Perak</option>
<option value='Malaysia'>Perak (Malaysia)</option>
<option value='Malaysia'>Perlis</option>
<option value='Malaysia'>Perlis (Malaysia)</option>
<option value='Iran'>Persia</option>
<option value='Iran'>Persia (Iran)</option>
<option value='Peru'>Peru</option>
<option value='Taiwan'>Pescadores Islands</option>
<option value='Taiwan'>Pescadores Islands (Taiwan)</option>
<option value='Guadeloupe'>Petite Terre</option>
<option value='Guadeloupe'>Petite Terre (Guadeloupe)</option>
<option value='Philippines'>Philippines</option>
<option value='Pitcairn Island'>Pitcairn Island</option>
<option value='US Possession'>Pohnpei, Micronesia</option>
<option value='Poland'>Poland</option>
<option value='Portugal'>Portugal</option>
<option value='Canada'>Prince Edward Island (Canada)</option>
<option value='Malaysia'>Province Wellesley</option>
<option value='Malaysia'>Province Wellesley (Malaysia)</option>
<option value='US Possession'>Puerto Rico</option>
<option value='New Zealand'>Pukapuka</option>
<option value='New Zealand'>Pukapuka (New Zealand)</option>
<option value='Qatar'>Qatar</option>
<option value='Canada'>Quebec (Canada)</option>
<option value='Australia'>Queensland</option>
<option value='Australia'>Queensland (Australia)</option>
<option value='Taiwan'>Quemoy</option>
<option value='Taiwan'>Quemoy (Taiwan)</option>
<option value='French Polynesia'>Raiatea</option>
<option value='French Polynesia'>Raiatea (French Polynesia)</option>
<option value='New Zealand'>Rakaanga</option>
<option value='New Zealand'>Rakaanga (New Zealand)</option>
<option value='French Polynesia'>Rapa</option>
<option value='French Polynesia'>Rapa (French Polynesia)</option>
<option value='New Zealand'>Rarotonga</option>
<option value='New Zealand'>Rarotonga (Cook Islands) (New Zealand)</option>
<option value='United Arab Emirates'>Ras al Kaimah</option>
<option value='United Arab Emirates'>Ras al Kaimah (United Arab Emirates)</option>
<option value='Antigua and Barbuda'>Redonda</option>
<option value='Antigua and Barbuda'>Redonda (Antigua and Barbuda)</option>
<option value='Georgia, Republic of'>Republic of Georgia</option>
<option value='Korea, Republic of (South Korea)'>Republic of Korea</option>
<option value='Congo (Brazzaville),Republic of the'>Republic of the Congo</option>
<option value='US Possession'>Republic of the Marshall Islands</option>
<option value='Reunion'>Reunion</option>
<option value='Zimbabwe'>Rhodesia</option>
<option value='Zimbabwe'>Rhodesia (Zimbabwe)</option>
<option value='Equatorial Guinea'>Rio Muni</option>
<option value='Equatorial Guinea'>Rio Muni (Equatorial Guinea)</option>
<option value='Greece'>Rodos</option>
<option value='Greece'>Rodos (Greece)</option>
<option value='Mauritius'>Rodrigues</option>
<option value='Mauritius'>Rodrigues (Mauritius)</option>
<option value='Romania'>Romania</option>
<option value='US Possession'>Rota, Northern Mariana Islands (US Possession)</option>
<option value='Russia'>Russia</option>
<option value='Rwanda'>Rwanda</option>
<option value='Netherlands Antilles'>Saba</option>
<option value='Netherlands Antilles'>Saba (Netherlands Antilles)</option>
<option value='Malaysia'>Sabah</option>
<option value='Malaysia'>Sabah (Malaysia)</option>
<option value='Guadeloupe'>Saint Bartholomew</option>
<option value='Guadeloupe'>Saint Bartholomew (Guadeloupe)</option>
<option value='St. Christopher and Nevis'>Saint Christopher (St. Kitts) and Nevis</option>
<option value='St. Christopher and Nevis'>Saint Christopher and Nevis </option>
<option value='US Possession'>Saint Croix, US Virgin Islands</option>
<option value='Netherlands Antilles'>Saint Eustatius</option>
<option value='Netherlands Antilles'>Saint Eustatius (Netherlands Antilles)</option>
<option value='St. Helena'>Saint Helena</option>
<option value='US Possession'>Saint John, US Virgin Islands</option>
<option value='St. Christopher and Nevis'>Saint Kitts</option>
<option value='St. Christopher and Nevis'>Saint Kitts (St. Christopher and Nevis)</option>
<option value='St. Lucia'>Saint Lucia</option>
<option value='Netherlands Antilles'>Saint Maarten</option>
<option value='Netherlands Antilles'>Saint Maarten (Netherlands Antilles)</option>
<option value='Guadeloupe'>Saint Martin (France)</option>
<option value='Guadeloupe'>Saint Martin (French part) (Guadeloupe)</option>
<option value='Netherlands Antilles'>Saint Martin (Netherlands part)(Netherlands Antilles)</option>
<option value='Netherlands Antilles'>Saint Martin (Netherlands)</option>
<option value='St. Pierre and Miquelon'>Saint Pierre and Miquelon</option>
<option value='US Possession'>Saint Thomas, US Virgin Islands</option>
<option value='St. Vincent and the Grenadines'>Saint Vincent and the Grenadines</option>
<option value='Madagascar'>Sainte Marie de Madagascar (Madagascar)</option>
<option value='US Possession'>Saipan, Northern Mariana Islands (US Possession)</option>
<option value='El Salvador'>Salvador</option>
<option value='El Salvador'>Salvador (El Salvador)</option>
<option value='San Marino'>San Marino</option>
<option value='US Possession'>Sand Island, Midway Islands (US Possession)</option>
<option value='Solomon Islands'>Santa Cruz Islands</option>
<option value='Solomon Islands'>Santa Cruz Islands (Solomon Island)</option>
<option value='Sao Tome and Principe'>Sao Tome and Principe</option>
<option value='Malaysia'>Sarawak</option>
<option value='Malaysia'>Sarawak (Malaysia)</option>
<option value='Great Britain and Northern Ireland'>Sark</option>
<option value='Great Britain and Northern Ireland'>Sark, Channel Islands (Great Britain)</option>
<option value='Canada'>Saskatchewan (Canada)</option>
<option value='Saudi Arabia'>Saudi Arabia</option>
<option value='New Zealand'>Savage Island</option>
<option value='New Zealand'>Savage Island (Niue) (New Zealand)</option>
<option value='Western Samoa'>Savaii Island</option>
<option value='Western Samoa'>Savaii Island (British) (Western Samoa)</option>
<option value='Great Britain and Northern Ireland'>Scotland</option>
<option value='Great Britain and Northern Ireland'>Scotland (Great Britain and Northern Ireland)</option>
<option value='Malaysia'>Selangor</option>
<option value='Malaysia'>Selangor (Malaysia)</option>
<option value='Senegal'>Senegal</option>
<option value='Serbia-Montenegro'>Serbia-Montenegro</option>
<option value='Seychelles'>Seychelles</option>
<option value='United Arab Emirates'>Sharja</option>
<option value='United Arab Emirates'>Sharja (United Arab Emirates)</option>
<option value='Japan'>Shikoku</option>
<option value='Japan'>Shikoku (Japan)</option>
<option value='Thailand'>Siam</option>
<option value='Thailand'>Siam (Thailand)</option>
<option value='Sierra Leone'>Sierra Leone</option>
<option value='India'>Sikkim</option>
<option value='India'>Sikkim (India)</option>
<option value='Singapore'>Singapore</option>
<option value='Slovak Republic'>Slovak Republic</option>
<option value='Slovenia'>Slovenia</option>
<option value='French Polynesia'>Society Islands</option>
<option value='French Polynesia'>Society Islands (French Polynesia)</option>
<option value='Solomon Islands'>Solomon Islands</option>
<option value='Somalia'>Somali Democratic Republic</option>
<option value='Somalia'>Somali Democratic Republic (Somalia)</option>
<option value='Somalia'>Somalia</option>
<option value='Somalia'>Somaliland</option>
<option value='Somalia'>Somaliland (Somalia)</option>
<option value='South Africa'>South Africa</option>
<option value='Australia'>South Australia</option>
<option value='Australia'>South Australia (Australia)</option>
<option value='Falkland Islands'>South Georgia</option>
<option value='Falkland Islands'>South Georgia (Falkland Islands)</option>
<option value='Korea, Republic of (South Korea)'>South Korea</option>
<option value='Korea, Republic of (South Korea)'>South Korea (Korea, Republic of)</option>
<option value='Namibia'>South-West Africa</option>
<option value='Namibia'>South-West Africa (Namibia)</option>
<option value='Spain'>Spain</option>
<option value='Norway'>Spitzbergen</option>
<option value='Norway'>Spitzbergen (Norway)</option>
<option value='Sri Lanka'>Sri Lanka</option>
<option value='Guadeloupe'>St. Barthelemy</option>
<option value='St. Christopher and Nevis'>St. Christopher and Nevis</option>
<option value='Netherlands Antilles'>St. Eustatius (Netherlands Antilles)</option>
<option value='St. Helena'>St. Helena</option>
<option value='St. Christopher and Nevis'>St. Kitts</option>
<option value='St. Lucia'>St. Lucia</option>
<option value='Netherlands Antilles'>St. Maarten (Netherlands Antilles)</option>
<option value='Guadeloupe'>St. Martin (Guadeloupe)</option>
<option value='St. Pierre and Miquelon'>St. Pierre and Miquelon</option>
<option value='St. Vincent and the Grenadines'>St. Vincent</option>
<option value='St. Vincent and the Grenadines'>St. Vincent and the Grenadines</option>
<option value='Madagascar'>Ste. Marie de Madagascar</option>
<option value='Madagascar'>Ste. Marie de Madagascar (Madagascar)</option>
<option value='Sudan'>Sudan</option>
<option value='Suriname'>Suriname</option>
<option value='New Zealand'>Suwarrow Islands</option>
<option value='New Zealand'>Suwarrow Islands (New Zealand)</option>
<option value='US Possession'>Swain's Island, American Samoa (US Possession)</option>
<option value='Honduras'>Swan Islands</option>
<option value='Honduras'>Swan Islands (Honduras)</option>
<option value='Swaziland'>Swaziland</option>
<option value='Sweden'>Sweden</option>
<option value='Switzerland'>Switzerland</option>
<option value='Greece'>Symi</option>
<option value='Greece'>Symi (Greece)</option>
<option value='Syrian Arab Republic'>Syrian Arab Republic</option>
<option value='French Polynesia'>Tahaa</option>
<option value='French Polynesia'>Tahaa (French Polynesia)</option>
<option value='French Polynesia'>Tahiti</option>
<option value='French Polynesia'>Tahiti (French Polynesia)</option>
<option value='Taiwan'>Taiwan</option>
<option value='Tajikistan'>Tajikistan</option>
<option value='Tanzania'>Tanzania</option>
<option value='Australia'>Tasmania</option>
<option value='Australia'>Tasmania (Australia)</option>
<option value='Chad'>Tchad</option>
<option value='Chad'>Tchad (Chad)</option>
<option value='Thailand'>Thailand</option>
<option value='Australia'>Thursday Island</option>
<option value='Australia'>Thursday Island (Australia)</option>
<option value='China'>Tibet</option>
<option value='China'>Tibet (China)</option>
<option value='Greece'>Tilos</option>
<option value='Greece'>Tilos (Greece)</option>
<option value='Indonesia'>Timor</option>
<option value='Indonesia'>Timor (Indonesia)</option>
<option value='US Possession'>Tinian, Northern Mariana Islands(US Possession)</option>
<option value='Trinidad and Tobago'>Tobago</option>
<option value='Trinidad and Tobago'>Tobago (Trinidad and Tobago)</option>
<option value='Togo'>Togo</option>
<option value='Western Samoa'>Tokelau (Union) Group (Western Samoa)</option>
<option value='Western Samoa'>Tokelau Group</option>
<option value='Tonga'>Tonga</option>
<option value='New Zealand'>Tongareva</option>
<option value='New Zealand'>Tongareva (New Zealand)</option>
<option value='Japan'>Tori Shima</option>
<option value='Japan'>Tori Shima (Ryukyu Islands) (Japan)</option>
<option value='Vanuatu'>Torres Island</option>
<option value='Vanuatu'>Torres Island (Vanuatu)</option>
<option value='Jordan'>Trans-Jordan</option>
<option value='Jordan'>Trans-Jordan (Hashemite Kingdom) (Jordan)</option>
<option value='South Africa'>Transkei</option>
<option value='South Africa'>Transkei (South Africa)</option>
<option value='Malaysia'>Trengganu</option>
<option value='Malaysia'>Trengganu (Malaysia)</option>
<option value='Trinidad and Tobago'>Trinidad and Tobago</option>
<option value='Libya'>Tripolitania</option>
<option value='Libya'>Tripolitania (Libya)</option>
<option value='Tristan da Cunha'>Tristan da Cunha</option>
<option value='United Arab Emirates'>Trucial States</option>
<option value='United Arab Emirates'>Trucial States (United Arab Emirates)</option>
<option value='US Possession'>Truk (See Chuuk Island)</option>
<option value='French Polynesia'>Tuamotou</option>
<option value='French Polynesia'>Tuamotou (French Polynesia)</option>
<option value='French Polynesia'>Tubuai</option>
<option value='French Polynesia'>Tubuai (French Polynesia)</option>
<option value='Tunisia'>Tunisia</option>
<option value='Turkey'>Turkey</option>
<option value='Turkmenistan'>Turkmenistan</option>
<option value='Turks and Caicos Islands'>Turks and Caicos Islands</option>
<option value='US Possession'>Tutuila Island, American Samoa (US Possession)</option>
<option value='Tuvalu'>Tuvalu</option>
<option value='US Possession'>U.S. Virgin Islands</option>
<option value='Uganda'>Uganda</option>
<option value='Ukraine'>Ukraine</option>
<option value='United Arab Emirates'>Umm al Quaiwain</option>
<option value='United Arab Emirates'>Umm al Quaiwain (United Arab Emirates)</option>
<option value='Qatar'>Umm Said</option>
<option value='Qatar'>Umm Said (Qatar)</option>
<option value='Western Samoa'>Union Group</option>
<option value='Western Samoa'>Union Group (Western Samoa)</option>
<option value='United Arab Emirates'>United Arab Emirates</option>
<option value='Great Britain and Northern Ireland'>United Kingdom (Great Britain)</option>
<option value='US Possession'>United Nations, New York</option>
<option value='Western Samoa'>Upolu Island</option>
<option value='Western Samoa'>Upolu Island (Western Samoa)</option>
<option value='Uruguay'>Uruguay</option>
<option value='Uzbekistan'>Uzbekistan</option>
<option value='Vanuatu'>Vanuatu</option>
<option value='Vatican City'>Vatican City</option>
<option value='Venezuela'>Venezuela</option>
<option value='Australia'>Victoria</option>
<option value='Australia'>Victoria (Australia)</option>
<option value='Vietnam'>Vietnam</option>
<option value='US Possession'>Virgin Islands</option>
<option value='British Virgin Islands'>Virgin Islands (British)</option>
<option value='US Possession'>Wake Island</option>
<option value='Great Britain and Northern Ireland'>Wales</option>
<option value='Great Britain and Northern Ireland'>Wales (Great Britain and Northern Ireland)</option>
<option value='Wallis and Futuna Islands'>Wallis and Futuna Islands</option>
<option value='Malaysia'>Wellesley</option>
<option value='Malaysia'>Wellesley, Province (Malaysia)</option>
<option value='Indonesia'>West New Guinea</option>
<option value='Indonesia'>West New Guinea (Indonesia)</option>
<option value='Australia'>Western Australia</option>
<option value='Australia'>Western Australia (Australia)</option>
<option value='Western Samoa'>Western Samoa</option>
<option value='US Possession'>Yap, Micronesia</option>
<option value='Yemen'>Yemen</option>
<option value='Serbia-Montenegro'>Yugoslavia</option>
<option value='Serbia-Montenegro'>Yugoslavia (see individual republics)</option>
<option value='Canada'>Yukon Territory (Canada)</option>
<option value='Spain'>Zafarani Islands</option>
<option value='Spain'>Zafarani Islands (Spain)</option>
<option value='Congo, Democratic Republic of the'>Zaire (Congo Dem Rep)</option>
<option value='Zambia'>Zambia</option>
<option value='Tanzania'>Zanzibar</option>
<option value='Tanzania'>Zanzibar (Tanzania)</option>
<option value='Zimbabwe'>Zimbabwe</option>
