body {
  font-family: Samim, Shabnam, Vazir, 'Open Sans', helvetica, sans-serif;
}

.custom-rtl {
  direction: rtl;
  font-family: Samim, Shabnam, Vazir, 'Open Sans', helvetica, sans-serif;
}

.custom-rtl p {
  font-size: 15px;
  font-family: Samim, Vazir, Shabnam, 'Open Sans';
  font-weight: normal;
  line-height: 30px;
}

.custom-rtl h1, .custom-rtl h2, .custom-rtl h3, .custom-rtl h4,
.custom-rtl h5, .custom-rtl h6, .custom-rtl h7 {
  font-family: Shabnam;
}

header {
  /* background-image: url('static/mira-theme/img/mira-c.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: -20px; if body top padding 0; */
  background-color: #314e6c;
  color: #222;
  text-align: center;
  padding-top: 80px;
  padding-bottom:30px;
}
header img {
    display: block;
    margin: 0 auto 20px;
}
header .page-header {
    color: #FFFFFF;
    border-bottom: 0px;
}
i.point-icon {
  text-align: center;
  font-size: 86px;
  /*line-height: 216px;*/
  color: #333;
}
.mira-header {
  max-width: 50%;
}

code {
  direction: ltr;
  text-align: left;
  display: block;
  background-color: #EEE;
  padding: 10px;

}

.jumbotron-custom {
  background-color: transparent;
}

.intro-custom-odd {
  background-color: #FFF;
}
.intro-custom-even {
  background-color: #EEE;
}


.start-custom {
  background-color: #EEE;
/*  width: 100%; */
}
.start-custom p {
  color: #000;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}
.start-custom code {
  color: #999;
}

footer {
  background-color: #333;
  color: #EEE;
  padding:50px 0 65px
  margin: 0 auto;
}
footer {
padding:50px 0 65px
}
footer .list-inline {
margin:0;
padding:0
}
footer .copyright {
font-size:14px;
text-align:center;
margin-bottom:0
}




.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #FFF;
  border-color: #999;
  color: #444;
  font-size: 12px;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #333;
}
.navbar .navbar-toggle:hover .icon-bar {
  background-color: #666;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #F0F0F0;
}
.navbar-custom .navbar-brand {
font-weight:100;
font-size: 24pt;
color: #222;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #666;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  background-color: #F0F0F0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #F0F0F0;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #000;
  background-color: #F0F0F0;
}


.navbar-custom {
position:absolute;
top:0;
left:0;
width:100%;
z-index:3;
background-color: #FFF;
}
.navbar-custom .nav li a {
  font-family: Samim, Vazir, 'Open Sans';
  font-weight: 400;
  letter-spacing: 1px;
  color: #555;
}
@media only screen and (min-width:768px) {
.navbar-custom {
background-color: #FFF;
}
.navbar-custom .navbar-brand {
color:#333;
padding:20px
}
.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-brand:focus {
color:#0085a1;
}
.navbar-custom .nav li a {
color:#333;
padding:20px;
font-weight: 800;
}
.navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus {
color:#0085a1;
background: transparent;
}

}
@media only screen and (min-width:1170px) {
.navbar-custom {
-webkit-transition:background-color .3s;
-moz-transition:background-color .3s;
transition:background-color .3s;
-webkit-transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-ms-transform:translate3d(0,0,0);
-o-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);
-webkit-backface-visibility:hidden;
backface-visibility:hidden
}
.navbar-custom.is-fixed {
position:fixed;
top:-63px;
background-color:rgba(230,230,230,.9);
border-bottom: 2px solid #CCC;
-webkit-transition:-webkit-transform .3s;
-moz-transition:-moz-transform .3s;
transition:transform .3s
}
.navbar-custom.is-fixed .navbar-brand {
color:#404040
}
.navbar-custom.is-fixed .navbar-brand:hover,.navbar-custom.is-fixed .navbar-brand:focus {
color:#0085a1
}
.navbar-custom.is-fixed .nav li a {
color:#404040;
font-weight: 800;
}
.navbar-custom.is-fixed .nav li a:hover,.navbar-custom.is-fixed .nav li a:focus {
color:#0085a1;
background-color: transparent;
}
.navbar-custom.is-visible {
-webkit-transform:translate3d(0,100%,0);
-moz-transform:translate3d(0,100%,0);
-ms-transform:translate3d(0,100%,0);
-o-transform:translate3d(0,100%,0);
transform:translate3d(0,100%,0)
}
