[% INCLUDE template/header.html -%]
<h1>TinyURL[% c.loc('Edit') %]</h1>

<form name="tinyurl" method="post" action="/tinyurl/update">
<table border="1">
  <tr>
    <td>URL</td><td><input type="text" name="long_url" size="25" value="[% c.stash.tinyurl.long_url %]"></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="btn_update" value="[% c.loc('Update') %]"></td>
  </tr>
</table>
<input type="hidden" name="id" value="[% c.stash.tinyurl.id %]">
<input type="hidden" name="disable" value="[% c.stash.tinyurl.disable %]">
</form>
[% INCLUDE template/footer.html -%]

