<h2>Inhoud</h2>

<ul>
  <li><a href="#R2_02">Wijzigingen in EekBoek 2.02</a></li>
  <li><a href="#R2_02_02">Wijzigingen in EekBoek 2.02.02</a></li>
  <li><a href="#R2_02_04">Wijzigingen in EekBoek 2.02.04</a></li>
  <li><a href="#R2_02_05">Wijzigingen in EekBoek 2.02.05</a></li>
</ul>

<p><em>Voor een volledige, gedetailleerde lijst van veranderingen zie
het bestand CHANGES.</em><p>

<p><strong>LEES OOK HET ITEM "<a href="#migratie">MIGRATIE</a>" AAN
HET EIND VAN DIT BESTAND.</strong></a></p>

<p>Raadpleeg &lsquo;<a href="http://wiki.eekboek.nl/Install"
target="_blank">Installeren</a>&rsquo; en &lsquo;<a
href="http://wiki.eekboek.nl/Download"
target="_blank">Download</a>&rsquo; op de EekBoek wiki om EekBoek op
uw systeem te installeren.</p>

<h2>Wijzigingen in EekBoek 2.02</h2>

<h3>Overzicht</h3>

<ul>
  <li><a href="#BTW">Wijzigingen in de BTW tariefcodes</a>
  <li><a href="#wizards">De Wizards</a>
  <li><a href="#onlinehulp">On-line hulp</a>
  <li><a href="#boekingen">Boekingen</a>
  <li><a href="#rapporten">Rapporten</a>
  <li><a href="#config">Configuratiebestand</a>
  <li><a href="#bugfixes">Bugfixes</a>
  <li><a href="#migratie">Migratie</a>
  <li><a href="#packaging">Packaging en installers</a>
  <li><a href="#repos">Uitfasering EekBoek repositories</a>
  <li><a href="#diversen">Diversen</a>
</ul>

<a name="BTW"></a><h3>Wijzigingen in de BTW tariefcodes</h3>

<h4>BTW codes mogen nu alfanumeriek zijn</h4>

<p>
Bijvoorbeeld:<br>
</p>

<pre>
BTW Tarieven
    ...
    Hoog19   BTW 19% incl.          :tariefgroep=hoog :perc=19,00
    Laag     BTW 6,0% incl.         :tariefgroep=laag :perc=6,00
</pre>

<p>
De codes worden hoofdletterongevoelig toegepast.<br>
</p>

<h4>Numerieke BTW codes voor grootboekrekeningen worden uitgefaseerd.</h4>

<p>
Deze dienen te worden vervangen door de corresponderende tariefgroep.<br>
</p>


<h4>BTW codes kunnen worden gebruikt in boekingen</h4>

<p>
Dit kon al voor numerieke codes, en aanduidingen als H, L, en zo.<br>
Postfix + en - zijn nu toegestaan op alle BTW codes. Het verdient aanbeveling het gebruik van de numerieke codes uit te faseren.<br>
</p>

<pre>
    inkopen 02-01 "Telefoon + ADSL" XS4ALL \
        "Mail"                            18,30@Hoog19-  6905  \
        "ADSL"                            33,61@Hoog19-  6905
</pre>


<h4>Het toegepaste BTW tarief wordt getoond in het journaal</h4>

<p>
Hiermee kan snel visueel worden vastgesteld of de juiste BTW code is opgegeven bij een boekstukregel.<br>
</p>

<pre>
Datum       Boekstuk/Grootboek                Rek      Debet     Credit      BTW %  Tarief      Boekstuk/regel                  Relatie
------------------------------------------------------------------------------------------------------------------------------------------
2012-01-11  Inkopen:27                                                                          Contributie 2012                FNVZZP
2012-01-11    BTW Inkoop Hoog                4220      31,13                                      BTW Contributie 2012
2012-01-11    Vakbond                        6320     163,87                 19,00  Hoog          Contributie 2012
2012-01-11    Crediteuren                    4100                195,00                           Contributie 2012
------------------------------------------------------------------------------------------------------------------------------------------
            Totaal Boekstuk 46                        195,00     195,00
</pre>


<h4>BTW codes kunnen een begin- en/of einddatum toegekend krijgen</h4>

<p>
Een waarschuwing wordt gegeven wanneer een boeking een btw code heeft die nog niet, of niet meer, geldig is.<br>
</p>

<pre>
   Hoog19   BTW 19% incl.          :tariefgroep=hoog :perc=19,00 :tot=2012-10-01
   Hoog21   BTW 21% incl.          :tariefgroep=hoog :perc=21,00 :vanaf=2012-10-01
</pre>

<p>
Let op: de 'tot' datum is tot, en niet tot en met.<br>
</p>

<p>
Het is mogelijk in boekingen om de btw code automatisch te laten corrigeren. Daarbij moet rekening worden gehouden met het feit dat wettelijk de leverdatum van het product of dienst bepalend is, niet de boekingsdatum of de factuurdatum. Als dat geen probleem is, dan kan de volgende setting in de EekBoek config worden aangebracht:<br>
</p>

<pre>
[strategy]
btw_adapt = 1
</pre>

<p>
EekBoek zal nu voor boekingen waarvoor de btw code niet geldig is proberen de juiste, wel geldige, btw code toe te passen. Uiteraard wordt daarvan melding gemaakt.<br>
</p>

<h4>Niet-eenduidig gebruik van @H en @L codes geeft een melding</h4>

<p>
Een melding wordt gegenereerd wanneer in een boeking een BTW aanduiding wordt gebruikt als <span class="zim-tag">@H</span> of <span class="zim-tag">@L</span>, terwijl in het schema meerdere BTW tarieven zijn gedefinieerd met tariefgroep 'hoog' resp. 'laag'. In deze gevallen wordt het tarief met de laagste code gebruikt.<br>
</p>

<h4>Auto-migratie</h4>

<p>
De auto-migratie faciliteit van EekBoek voert automatisch de volgende wijzigingen door in uw administratie:<br>
</p>

<p>
<ol type="1" start="1">
<li>De BTW en Journaal tabellen worden bijgewerkt met nieuwe attributen.</li>
<li>Bestaande BTW tarieven van 19% en tariefgroep Hoog worden gemarkeerd als geldig tot 1-10-2012.</li>
<li>Twee nieuwe BTW tarieven met naam 'H21' (inclusief) en 'H21-' (exclusief) worden aangemaakt en gemarkeerd als geldig vanaf 1-10-2012.</li>
</ol>
</p>

<h4>Na de migratie</h4>

<p>
De veronderstelling is dat in het schema alle koppelingen tussen grootboekrekeningen en BTW tariefcodes zijn gemaakt op basis van het nu nog huidige 19% tarief.<br>
Indien niet gebruik gemaakt wordt van de btw_adapt strategie dan moeten alle boekingen met levering na 1 oktober expliciet worden voorzien van <span class="zim-tag">@h21</span> of <span class="zim-tag">@h21</span>+ (inclusief) dan wel <span class="zim-tag">@h21</span>- (exclusief).<br>
</p>

<p>
De verwachting is dat de periode september-november de boekingen soms handmatig zullen moeten voorzien van een code, en dat daarna de btw_adapt strategie het werk betrouwbaar overneemt. Hou niettemin altijd het journaal in de gaten of het juiste tarief is toegepast!<br>
</p>

<p>
Hint: Neem in de EekBoek config op:<br>
</p>

<pre>
[preferences]
journal = 1
</pre>

<p>
Hiermee wordt na elke boeking automatisch de betreffende journaalrapportage getoond.<br>
</p>

<a name="onlinehulp"></a><h3>On-line hulp</h3>

<p>De GUI versie van EekBoek heeft nu een on-line hulpfaciliteit.</p>

<a name="wizards"></a><h3>Wizards</h3>

<p>Met de GUI versie van de EekBoek wizard is het nu mogelijk om een
administratie op te zetten die gekoppeld is aan een bestaande
administratie op een server. Hiervoor is het gebruik van de PostgreSQL
database vereist.</p>

<a name="boekingen"></a><h3>Boekingen</h3>

<p>Voor het afletteren wordt de boekingsdatum gebruikt, en niet langer
de boekingsvolgorde.</p>

<a name="rapporten"></a><h3>Rapporten</h3>

<p>In het journaal wordt het toegepaste BTW tarief getoond.</p>

<a name="config"></a><h3>Configuratiebestand</h3>

<p>Nieuwe settings in het configuratiebestand:</p>

<pre>[shell]
errexit = 1</pre>
<p>Verwerking wordt afgebroken indien fouten worden gedetecteerd. Dit
is een manier om de shell optie <tt>--errexit</tt> permanent aan te
zetten.</p>

<pre>[strategy]
btw_adapt = 1</pre>

<p>EekBoek zal voor boekingen waarvoor het BTW tarief niet geldig is
proberen het juiste, wel geldige, BTW tarief toe te passen.</p>

<a name="migratie"></a><h3>Migratie</h3>

<p>De database-structuur is gewijzigd. Auto-migratie is beschikbaar.
Het wordt echter ten sterkste aangeraden VOOR INSTALLATIE VAN 2.02
eerst een export te doen, en deze na installatie van 2.02 te
importeren. </p>

<a name="bugfixes"></a><h3>Bugfixes</h3>

<p>Zoals gebruikelijk zijn er verschillende bugs gefixed. Dank aan
allen die hebben meegewerkt aan het vinden en oplossen van deze
bugs.</p>

<a name="packaging"></a><h3>Packaging</h3>

<p>Met ingang van deze release worden installeerbare kits beschikbaar
gesteld voor verschillende platforms. Met behulp van de <a
href="http://www.cavapackager.org" target="_blank">Cava Packager</a>
wordt EekBoek gepackaged met <a href="http://www.citrusperl.org"
target="_blank">Citrus Perl</a> en alle verder benodigde libraries en
modules, waarna van dit package een installeerbare kit wordt
gemaakt.</p>

<p>Het grote voordeel van deze aanpak is dat de gebruiker zich niet
langer hoeft te bekommeren om de installatie van Perl, wxWidgets,
enzovoorts. Alles zit verpakt in de kit.</p>

<p>Installeerbare kits zijn beschikbaar voor:</p>
<ul>
  <li>Microsoft Windows (GUI installer)
  <li>Linux (GUI of command line installer)
  <li>Mac OSX (DMG container)
</ul>

<p>Alle kits zijn beschikbaar op
<a href="https://sourceforge.net/projects/eekboek/files/eekboek/2.02.00/"
   target="_blank">SourceForge</a>.</p>

<p>De interne structuur van de EekBoek bestanden is gewijzigd om
deze packaging mogelijk te maken. Dit heeft verder
geen consequenties voor het normale gebruik.</p>

<a name="repos"></a><h3>Uitfasering EekBoek repositories</h3>

[% sf_git = 'Test versies kunnen worden aangemaakt vanuit de <a href="https://sourceforge.net/scm/?type=git&group_id=154512" target="_blank">GIT repository</a>';
   sf_files = '<a href="https://sourceforge.net/projects/eekboek/files/eekboek/2.02.00/" target="_blank">SourceForge</a>'; 
%]

<p>Met het beschikbaar komen van standaard EekBoek kits voor verschillende
systemen is het niet langer van belang eigen repositories te
onderhouden. De volgende repositories zullen daarom worden uitgefaseerd:</p>

<ul>
  <li><p>http://www.eekboek.nl/repo/debian/
      <br>EekBoek zit in de standaard Debian repositories</p>

  <li><p>http://www.eekboek.nl/repo/debian-testing/
      <br>[% sf_git %]</p>
  <li><p>http://www.eekboek.nl/repo/fedora/
      <br>EekBoek zit in de standaard Fedora repositories</p>

  <li><p>http://www.eekboek.nl/repo/fedora-testing/
      <br>[% sf_git %]

  <li><p>http://www.eekboek.nl/repo/macosx/
      <br>DMG container beschikbaar op [% sf_files %]</p>

  <li><p>http://www.eekboek.nl/repo/macosx-testing/</p>

  <li><p>http://www.eekboek.nl/repo/ubuntu_10.10/</p>

  <li><p>http://www.eekboek.nl/repo/windows/
      <br>Installer beschikbaar op [% sf_files %]</p>

  <li><p>http://www.eekboek.nl/repo/windows-testing/
      <br>[% sf_git %]</p>

</ul>

<a name="diversen"></a><h3>Diversen</h3>

<p>Grote delen van EekBoek zijn inmiddels vertaald in het Engels.
Binnenkort zal een engelstalige productieversie worden gelanceerd.</p>

<h2>Wijzigingen in EekBoek 2.02.02</h2>

<h3>Overzicht</h3>

<p>Deze versie is een bugfix release.</p>

<p>Er is gebleken dat bij het bepalen van de periode maart 2013 per
ongeluk de data 2013-03-01 t/m 2013-03-30 werd gebruikt. De fout werd
veroorzaakt doordat precies op 30 maart de zomertijd is ingegaan.</p>

<p>Let op: Dit kan mogelijke consequenties hebben voor een BTW-aangifte
die eindigde in maart 2013, du seen aangifte over de maand maart, of
een over het eerste kwartaal van 2013. Maak daarom eerst een afdruk
van de BTW-aangifte zoals gedaan is met EekBoek 2.02.00, en maak na de
upgrade een nieuwe afdruk met EekBoek 2.02.02. Eventuele verschillen
kunt u verrekenen met de eerstvolgende BTW-aangifte.</p>

<h2>Wijzigingen in EekBoek 2.02.04</h2>

<h3>Overzicht</h3>

<p>Deze versie is een bugfix release.</p>

<p>Op sommige systemen crashte de GUI shell wanneer bij het bekijken
van een rapport window op de [Opslaan] button wordt gedrukt.</p>

<h2>Wijzigingen in EekBoek 2.02.05</h2>

<h3>Overzicht</h3>

<p>Deze versie is een bugfix release.</p>

<p>De nieuwste (ontwikkel-)versies van Perl (vanaf 5.23.8) zijn
strenger in wat ze wel en niet toelaten, en vallen over een
kleinigheidje in de EekBoek code.</p>
