        <div id="footer">
            <center>
            <p>Sitio construido usando NES - Copyright 2009 - 2010 - Licensed under the GNU GPL.<br>
            <a href="http://sourceforge.net/projects/nes"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=292405&amp;type=8" width="80" height="15" alt="Get nes at SourceForge.net. Fast, secure and Free Open Source software downloads" /></a>
            </p>
            </center>
        </div>
