<center>
<table>
<tr>
<td align="center">
$SOA_RR
</td>
</tr>
<tr>
<td align="center">
$A_RR
</td>
</tr>
<tr>
<td align="center">
$CNAME_RR
</td>
</tr>
<tr>
<td align="center">
$MX_RR
</td>
</tr>
<tr>
<td align="center">
$NS_RR
</td>
</tr>
<tr>
<td align="center">
$TXT_RR
</td>
</tr>
</table>
</center>
