<div id="banner">
<h1><TMPL_VAR meta_title></h1>

<TMPL_IF meta_logo_link>
  <img id="babble_logo" src="<TMPL_VAR meta_logo_link>" alt="">
</TMPL_IF>

<TMPL_IF meta_blurb_text>
  <p id="blurb">
  <TMPL_VAR meta_blurb_text>
  </p>
</TMPL_IF>
</div>

<!--
arch-tag: 79089d74-cc4b-404b-81b2-20c74e67d73e
-->
